/* <-----Custom-Properties------>  */

:root{
    --menu-width-desktop: 200px;
    --menu-width-tablet: 90px;
    --menu-width-smartphone: 230px;
    

    --gray-color: rgb(141, 140, 140);
    --white-color:rgb(240, 231, 231) ;
    --dark-blue: rgb(31, 105, 174);
    --red-color: rgb(222, 7, 7);
    /*-----header-----*/
    --header-backgroundcolor: #273746;
}

body{
    background-color: var(--white-color);
}


/* <-----HEADER------>  */

.admin_header{
    
    background-color: var(--header-backgroundcolor);
    position: fixed; 
    display: flex;    
    justify-content: space-between;
    align-items: center;
    
    height: 5em;
    width: 100%;
}

.logo_unison{
    border-radius: 50%;
    width: 4em;
    height: 4em;  
}

.list_content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    height: 2.5em; 
    margin-right: 1em;

}

.list_content *{
    margin: 0 1em 0 1em;
    list-style: none;
}

.list_content li *{
    font-size: 1.2em;
    color: var(--white-color);
    text-decoration: none;    
}

.info_library *{
    margin: 0 1em 0 1em
}

.info_library{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 1em 0 1em;
}

.info_library h4{
    color: var(--white-color);
}

.admin_header button{
    background-color: var(--header-backgroundcolor); 
    border-radius: 15px;
    border: 2px solid var(--white-color);
    padding: .5em;
    height: 2.5em;
    width: 6.5em;
    color: var(--white-color);
}

.admin_header button:hover{
    position: relative;     
    border: 4px solid var(--red-color);
    height: 3em;
    width: 7em;
    transition: .3s;

}



/* <-----Content------>  */

.home-content{
    margin-left: 232px;    
    padding: 5em 1em 1em 1em;    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3em;   
}

.input-nav{
    width: 18em;
    min-width: 10em;
    margin-left: 2em;
    border-radius: 3px;
    border-color: none;
    background-color: var(--white-color);
}

.search-button:link{    
    background-color: var(--white-color);    
}

.search-button:hover{    
    background-color: var(--white-color);    
}

.search-icon{
    margin-left: 1em;
    color: var(--header-backgroundcolor);
}

.nav-links{
    margin-right: 2em;
}

.buttons-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    padding: 1em 1em;   
    height: 5em;       
}

.home-button{
    background-color: var(--gray-color);    
    width: 10em;    
    height: 5em;
    border-radius: 20px;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent; 
    box-shadow: 5px 5px 4px var(--header-backgroundcolor);      
}

.home-button .size-icon{
    font-size: 3em;
    margin: 0 .2em;
}

.home-button:hover{
    position: relative;
    background-color: var(--white-color);    
    border: 5px solid var(--dark-blue);    
    height: 6em; 
    width: 11em;  
    transition: .3s;       
}

.edit-button{
    background-color: var(--white-color);  
    border: 3px solid var(--gray-color); 
    height: 1.7em; 
    width: 4em;
    border-radius: 8px;
}

.show-button{
    background-color: var(--white-color);  
    border: 3px solid var(--header-backgroundcolor); 
    height: 1.7em; 
    width: 4em;
    border-radius: 8px;
}

.delete-button{
    background-color: var(--white-color);  
    border: 3px solid var(--red-color); 
    height: 1.7em; 
    width: 4em;
    border-radius: 8px;
}

.stadistics{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.stadistic-card{
    background-color: var(--gray-color);
    width: 15em;
    height: 20em;
    border-radius: 5px;
    margin: 0 1em 0 1em;
}

.stadistics-content{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}

.stadistics-content li{
    list-style: none;
}

/*  books content*/

.books-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1em;
}

.book-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 1em 1em;
    border: 2px solid var(--gray-color);  
    border-radius: 3px;  
}

.book-card img{
    width: 6em;
    height: 6em;
}

.book-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-key li{
    list-style: none;
}

.info-value li{
    list-style: none;
}

.books-table{    
    max-width: 600px;
}

.books-table table{
    border: 2px solid var(--gray-color);
    border-radius: 3px;
    position: relative;
}

.books-table thead::after{
    content: '';
    width: calc(100% - 1em);
    height: 1px;
    left: .5em;
    background-color: var(--header-backgroundcolor);
    position: absolute;
}

.books-table th{
    width: 12em;
    height: 2em;
    
}

.books-table #name{
    width: 30em;
}

.books-table tbody td{
    text-align: center;
}



/* <-----SIDE-BAR----->  */

.side_bar{
    background-color: var(--header-backgroundcolor);
    
    margin: 5em 0 0 0;
    padding: 1em;
    width: var(--menu-width-desktop);
    height:100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.profile_img{
    border-radius: 50%;
    width: 7em;
    height: 7em;   
}

.ul_content{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side_bar li{
    font-size: 1.2em;   
    list-style: none;
    padding: 1em;   
    border: 3px solid transparent;
}

.side_bar li a{
    color: var(--white-color);
    text-decoration: none;
}

.side_bar li:hover{
    border-bottom: var(--gray-color) solid 3px;
    transition: 0.2s;
}
